<div style="display: flex;flex-direction: column;align-items: center;">
<h1>{{title}}</h1>
<form>
Texto1/Número1: <input type="text" [(ngModel)]="text1" name="text1"><br/><br/>
Texto2/Número2: <input type="text" [(ngModel)]="text2" name="text2"><br/><br/>
<br/>
<input type="submit" value="Concatenar" (click)="concatenate()" style="margin: 1%;" >
<input type="submit" value="Suma" (click)="suma()" style="margin: 1%;">
<input type="submit" value="Resta" (click)="resta()" style="margin: 1%;">
<input type="submit" value="Multiplicación" (click)="multi()" style="margin: 1%;">
<input type="submit" value="División" (click)="divi()" style="margin: 1%;">
<br/>
<p>Concatenated text: {{concat}}</p>
<p>Calculated text: {{concat2}}</p>
</form>
</div>


